html {
  scroll-behavior: smooth;
}
h1 {
    text-align:center;
    font-size: 3em;
    font-weight: 100;
    margin-bottom: 0em;
    padding: 0em .5em;
 }
 h2{
   font-size: 2em;
    font-weight:100;
    margin-bottom: .6em;
    margin-top: .8em;
 }

 body {
    background-color: #323133;
    color:aliceblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 22px;
    padding: 2em;
    font-weight: 50;
    
 }
 h3 {
  text-align: center;
  margin-bottom: 1.5em;
  margin-top: .5em;
  font-size: 1.5em;

 }
 hr {
  margin: 1.5em 0 1.5em 0;
  color: white;
  background-color: white;
  margin: 0em 35%
  
 }

 input, textarea,button{
  box-sizing: border-box;
  font-size: 1em;
  display:block;
  margin: .6em 0em .6em 0em;
  min-width: 20em;
  max-width: 70%;
  min-height: 2em;
  border-radius: .5em;
  padding: 0em .3em;
 }

 button {
  min-width: 20em;
  margin-top: 2em;
  background-color: #323133;
  border: solid white .08em;
  color: white;
 }

 label {
  font-size: 1em;
  font-weight: 300;
 }

 header nav {
  padding: .8em;
  width: 44em;
  margin: auto;
  height: 1em;
  display: flex;
 }

 header nav > a {
  margin: 2.2%;
  font-weight: 400;
  color: rgb(196, 193, 193);
 }

 header nav > a:hover{
  color: #ffffff;
 }

 .navigation {
  box-sizing: border-box;
  margin-bottom: 1em;
  background-color: #323133;
  height: 6em;
  width: 117%;
  margin-right: -2.4em;
  margin-left: -2.4em;
  margin-top: -2.4em;
  position: sticky;
  top: 0;
  
  
 }

 .links{
   text-align: right;
 }
 .links a{
   padding: 0em 1.2em;
   margin-top: 5rem;

 }
.about {
   min-width: 200px;
   line-height: 1.8em;
   word-spacing:.15em;
   margin-top: .2em;
   margin-bottom: 2em;
   text-align: justify;
 }

 span {
   font-weight: lighter;
 }

 footer {
  text-align: center;
  padding-top: 2em;
  margin-bottom: -1em;
 }

 .institute {
   font-size: 1.4em;
   font-weight: 300;
   margin: 1em  0em .0em 0em;
 }

 .designation {
   margin: .0em .1em -.8em 0em;
 }
 .period {
   margin-bottom: .6em;
 }
 .typing {
  color: bisque;
 }
 #my-contact-form {

  max-width: 20.3em;
  margin: auto;
  border: solid white;
  border-radius: .5em;
  padding: .8em 2em;
  padding-top: 0em;
  margin-top: 4em;
  
 }

 #cursor {
  font-weight:600;
  font-size: 1em;
 }
 form h2 {
  text-align: center;
 }

