h1 {
    text-align:center;
    font-size: 3em;
    font-weight: 100;
 }
 h2{
   font-size: 2em;
    font-weight:100;
    margin-bottom: .8em;
    margin-top: 1.2em;
 }

 body {
    background-color: #323133;
    color:aliceblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 22px;
    padding: 2em;
    font-weight: 50;
 }

 .links{
   text-align: center;
 }
 .links a{
   padding: 1em;
 }
 .content p {
   min-width: 200px;
   line-height: 1.8em;
   word-spacing:.15em;
   margin-top: .5em;
   text-align: justify;
 }

 span {
   font-weight: lighter;
 }
 .institute {
   font-size: 1.4em;
   font-weight: 300;
 }

 .designation {
   margin: .1em .1em .1em 0em;
 }
 .period {
   margin-bottom: 1.2em;
 }